body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameTitle {
  font-size: 30px;
  font-weight: bold;
  font-family: "Arima Madurai", sans-serif;
  padding: 10px;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Arima Madurai", sans-serif;
  border: 1px solid black;
}

.cell--disabled {
  background-color: #f56a6a;
}

.cell--filled {
  background-color: #639bec;
}

.cubicle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border: 3px solid black;
}

.cubicleRow {
  display: flex;
  flex-direction: row;
}

.sudoku {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.verifyButton {
  margin: 10px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arima Madurai", sans-serif;
  background: #3bc550;
}